<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Reception</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Blood Bank Of Israel</h1>
    <div class="box-data">
        <h3>Remaining blood units</h3>
        <% blood.forEach(function(type){ %>
          <% var quantityColor = "black"; %>
          <% if(type.quantity < 10){ %>
            <% quantityColor = "red"; %>
          <% } else if(type.quantity < 20 && type.quantity >= 10) {%>
                <% quantityColor = "orange"; %>
              <% } else { %>
                <% quantityColor = "green"; %>
              <%}%>
          <label style="color:<%=quantityColor%>"><%= type.type %>: <b><%= type.quantity %> </b></label>
        <%});%>

    </div>

    <div class="row">
    <form action="/addBlood" method="post">
        <div class="box-form">
            <h3>Received blood units</h3>
            <% blood.forEach(function(type){ %>
              <div class="item">
                  <label >Blood type <%= type.type %></label>  <input  name=<%= type.name %>   type="number"   min="0" value="0" autocomplete="off"><br>
              </div>
            <% }); %>

            <button type="submit">Recieve Blood</button>
        </div>
    </form>
    <div class="col">
      <form action="/giveBlood" method="post">

          <div class="box-form provide-box">
              <h3>Provide blood units</h3>
              <div class="item">
                  <label >Select blood type</label>
                  <select name="bloodSelected" id="select-box">
                  <% blood.forEach(function(type){ %>
                      <option value=<%= type.type %>> <%= type.type %> </option>>
                  <% }); %>
                  </select>
                  <label class="qua">Quantity</label>
                  <input  name="bloodAmount"  type="number"  min="0" value="0" autocomplete="off">
              </div>

              <button type="submit">Provide Blood</button>

          </div>
      </form>
      <form action="/Emergency" class="Emergency" method="post">
        <div class="box-form provide-box emergency-box">
          <h3>Emergency</h3>
          <div class="item">
            <label>Quantity</label>
            <input  name="bloodAmount"  type="number"  min="0" value="0" autocomplete="off">
          </div>
          <button type="submit">Emergency</button>
        </div>

      </form>
    </div>

</div>

</body>
</html>
